# Module 3 Practice
## Name: Craig Case
#### Started: Oct 7 at 7:04pm
## Quiz Instructions
In this quiz, you will walk through building a web scraper that pulls data from the internet into a pandas dataframe for analysis. The link that you will be using to practice is this URL: https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html Links to an external site..

Go to the page shown above and observe the table of data on the page. In this project, you will follow along with the videos to scrape this data into a pandas dataframe. Afterwards, you will computer some summary statistics on the data set.

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [6]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [7]:
soup = BeautifulSoup(response, 'html.parser')

In [8]:
soup

<!DOCTYPE html>

<html>
<head>
<title>Employees Table</title>
<style>
        table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        tr:nth-child(odd) {
            background-color: #ddd;
        }
        tr:nth-child(odd):hover {
            background-color: #ccc;
        }
        tr:nth-child(even):hover {
            background-color: #eee;
        }
        th {
            cursor: pointer;
            background-color: #222;
            color: #eee
        }
        th:hover {
            background-color: #333;
        }
        h1{
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 80px;
            font-kerning: normal;
            color: #7d231f;

        }
        h2{
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 60px;
            font-kerning: normal;
            color: #4e0c09;

        }
        p {
            font-family: 'Courier New', Courier, monospace;
            font-size: large;
        }
    </style>
</head>
<body>
<p>This page was created using HTML, CSS, and JavaScript. The HTML code provides the structure of the page, the CSS determines how each element should be formatted, and JavaScript determines how the user can interact with the web page. In this case, JavaScript allows users to click the column names of the table below to sort the data.</p>
<h1>Employees</h1>
<table id="data-table">
<thead>
<tr>
<th onclick="sortTable(0)">ID</th>
<th onclick="sortTable(1)">Name</th>
<th onclick="sortTable(2)">Age</th>
</tr>
</thead>
<tbody>
<tr class="employee">
<td>101</td>
<td>John Doe</td>
<td>28</td>
</tr>
<tr class="employee">
<td>102</td>
<td>Jane Smith</td>
<td>32</td>
</tr>
<tr class="employee">
<td>103</td>
<td>Robert Johnson</td>
<td>24</td>
</tr>
<tr class="employee">
<td>104</td>
<td>Mary Johnson</td>
<td>29</td>
</tr>
<tr class="employee">
<td>105</td>
<td>Michael Brown</td>
<td>35</td>
</tr>
<tr class="employee">
<td>106</td>
<td>Susan Davis</td>
<td>27</td>
</tr>
<tr class="employee">
<td>107</td>
<td>David Wilson</td>
<td>31</td>
</tr>
<tr class="employee">
<td>108</td>
<td>Linda Miller</td>
<td>33</td>
</tr>
</tbody>
</table>
<h2>Why it's important</h2>
<p>As you might be able to see, the actual data of this web page is stored in the HTML code. Both CSS and JavaScript have nothing to do with the actual data itself, but mostly just make the page look and work better. Thus, for web scraping the data from this page, only a knowledge of HTML is required.</p>
<p>However, more modern websites don't always deliver the data in nice HTML tables. CSS is often used as a locator to locate the data inside of a particular table. Furthermore, more and more websites nowadays deliver empty HTML pages that are later populated with JavaScript processes to stop others from web scraping their sites. These issues are important to know about when performing web scraping.</p>
<script>
        function sortTable(column) {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("data-table");
            switching = true;

            while (switching) {
                switching = false;
                rows = table.rows;

                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("td")[column];
                    y = rows[i + 1].getElementsByTagName("td")[column];

                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }

                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }
    </script>
</body>
</html>

In [10]:
soup.find('table')

<table id="data-table">
<thead>
<tr>
<th onclick="sortTable(0)">ID</th>
<th onclick="sortTable(1)">Name</th>
<th onclick="sortTable(2)">Age</th>
</tr>
</thead>
<tbody>
<tr class="employee">
<td>101</td>
<td>John Doe</td>
<td>28</td>
</tr>
<tr class="employee">
<td>102</td>
<td>Jane Smith</td>
<td>32</td>
</tr>
<tr class="employee">
<td>103</td>
<td>Robert Johnson</td>
<td>24</td>
</tr>
<tr class="employee">
<td>104</td>
<td>Mary Johnson</td>
<td>29</td>
</tr>
<tr class="employee">
<td>105</td>
<td>Michael Brown</td>
<td>35</td>
</tr>
<tr class="employee">
<td>106</td>
<td>Susan Davis</td>
<td>27</td>
</tr>
<tr class="employee">
<td>107</td>
<td>David Wilson</td>
<td>31</td>
</tr>
<tr class="employee">
<td>108</td>
<td>Linda Miller</td>
<td>33</td>
</tr>
</tbody>
</table>

In [43]:
id = []
name = []
age = []

for employee in soup.find('table').find_all('tr', class_='employee'):
    td_emp = employee.find_all('td')
    id.append(td_emp[0].text)
    name.append(td_emp[1].text)
    age.append(td_emp[2].text)

In [36]:
id

['101', '102', '103', '104', '105', '106', '107', '108']

In [42]:
name

['John Doe',
 'Jane Smith',
 'Robert Johnson',
 'Mary Johnson',
 'Michael Brown',
 'Susan Davis',
 'David Wilson',
 'Linda Miller']

In [32]:
age

['28', '32', '24', '29', '35', '27', '31', '33']

In [46]:
df = pd.DataFrame({
    'id': id,
    'name': name,
    'age': age
})
df

    id            name age
0  101        John Doe  28
1  102      Jane Smith  32
2  103  Robert Johnson  24
3  104    Mary Johnson  29
4  105   Michael Brown  35
5  106     Susan Davis  27
6  107    David Wilson  31
7  108    Linda Miller  33

In [47]:
df['id'] = df['id'].astype(int)
df['age'] = df['age'].astype(int)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      int64
 1   name    8 non-null      object
 2   age     8 non-null      int64
dtypes: int64(2), object(1)
memory usage: 324.0+ bytes

In [50]:
mean_age = df['age'].mean()
mean_age

np.float64(29.875)

In [53]:
# Standard Deviation for `age`
std_age = df['age'].std()
round(std_age,2)

np.float64(3.56)